/* accent color =  #4e94a3*/

:root {
  --accent-color: #427c88;
  --hover-color: #884e42;
  --text-color: #15282c;
}

/* Scroll padding to account for fixed header */
html {
  scroll-padding-top: 90px;
}

/* Add top padding to sections container to prevent content from being hidden behind fixed header */
#sections-container {
  padding-top: 40px;
}

/* Add scroll margin to sections for smooth anchor scrolling */
section[id] {
  scroll-margin-top: 90px;
}

.about_padding{
	padding-top: 100px;
	text-align: center;
}

.about_padding img{
	max-width: 350px;
}

.photos_index{
	padding-top: 100px;
	text-align: center;
}

.photos_index img{
	max-width: 250px;
}

.p_20{
	padding-top: 20px;
	padding-bottom: 20px;
}

sub{
	color:inherit;
}

p{
	color:var(--text-color);
}

.portfolio_details_inner .portfolio_right_text p{
	margin-bottom: 0px;
	color:var(--text-color);
}

.home_banner_area .banner_inner .banner_content p{
	color:var(--text-color);
}

.science_banner_area .banner_inner .banner_content p{
	color:"black";
}

a{
	color: var(--hover-color);
}

a:hover{
	color: var(--accent-color);
}

.navbar-light .navbar-brand{
	color: var(--accent-color);
}

.navbar-light:hover .navbar-brand:hover{
	color: var(--hover-color);
}

h2{
	color: var(--accent-color);
	font-weight:normal;
}

h3{
	color: var(--accent-color);
	font-weight:normal;
}

/*h5{
	color:var(--hover-color);
}*/

.logo_h{
	font-size:24px;
	font-weight: normal;
}

.home_banner_area .banner_inner .banner_content h2{
	font-weight: lighter;
}

.home_banner_area .banner_inner .banner_content h5{
	line-height: 1.5;
	overflow: visible;
	white-space: normal;
	word-wrap: break-word;
}

.pb-4{
	padding-bottom: 400px
}

.submit_btn{
	width: auto;
    display: inline-block;
    background-image: linear-gradient(to right, black 0%, var(--accent-color) 48%, black 100%);
    background-size: 200% auto;
    padding: 0px 50px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 50px;
    border-radius: 5px;
    outline: none !important;
    box-shadow: none !important;
    text-align: center;
    cursor: pointer;
    transition: all 300ms linear 0s;
}

.science_banner_area:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../img/banner/home-banner.jpg) no-repeat scroll center center;
	background-size: cover;
}

@media (max-width:992px) {

  	.science_banner_area:before {
		-webkit-transform: rotate(180deg);
	    -moz-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	    -o-transform: rotate(180deg);
	    transform: rotate(180deg);
	}
}

.science_banner_area {
	position: relative;
  z-index: 1;
  
}

.science_banner_area .banner_inner {
    width: 100%; }
    .science_banner_area .banner_inner .home_left_img {
      padding-top: 195px; }
    .science_banner_area .banner_inner .col-lg-6 {
      vertical-align: middle;
      align-self: center; }
    .science_banner_area .banner_inner .banner_content {
      text-align: left;
      color: #222222; }
      .science_banner_area .banner_inner .banner_content h5 {
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        letter-spacing: 2.1px;
        margin-bottom: 20px; }
      .science_banner_area .banner_inner .banner_content h2 {
        margin-top: 0px;
        font-size: 48px;
        font-weight: lighter;
        font-family: "Heebo", sans-serif;
        line-height: 54px;
        text-transform: uppercase;
        margin-bottom: 20px; }
      .science_banner_area .banner_inner .banner_content p {
        color: black;
        font-family: "Roboto", sans-serif;
        max-width: 680px;
        font-size: 14px;
        line-height: 26px;
        margin: 0px auto 45px; }
      .science_banner_area .banner_inner .banner_content .banner_map_img {
        text-align: right; }

/* Booking Form Styles */
#bookingForm label {
    color: var(--text-color);
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}

#bookingForm input[type="text"],
#bookingForm input[type="email"],
#bookingForm select,
#bookingForm textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    transition: border-color 0.3s ease;
    color: var(--text-color);
}

#bookingForm input[type="text"]:focus,
#bookingForm input[type="email"]:focus,
#bookingForm select:focus,
#bookingForm textarea:focus {
    outline: none;
    border-color: var(--accent-color);
    box-shadow: 0 0 0 2px rgba(66, 124, 136, 0.1);
}

#bookingForm textarea {
    resize: vertical;
    min-height: 100px;
}

#bookingForm .submit_btn {
    margin-top: 10px;
}

#formStatus {
    margin-top: 15px;
    text-align: center;
}

#formStatus div {
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
}
